<section>
    <p>{{username}}'s dashboard</p>
    <form class="blog-form">
        <input type="text" id="title" placeholder="new blog title">
        <textarea name="text" id="text" cols="15" rows="3" placeholder="new blog text"></textarea>
        <button class="blog-btn" type="submit">Post Blog!</button>
    </form>
    <h2>Your Blogs:</h2>
    <hr>
</section>
{{#each allBlogs}}
<section class="blog-box" data-id="{{id}}">
    <h3>{{User.username}}: "{{title}}"</h3>
    <p><em>{{createdAt}}</em></p>
    <hr>
    <p>{{text}}</p>
    <hr>
    <h4>Comments:</h4>
    {{#each Comments}}
        <p>{{text}}</p>
        <p><em>{{username}}, {{createdAt}}</em></p>
    {{/each}}
</section>
{{/each}}

<script src="/js/dashboard.js"></script>